<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <title>Full-stack Eletron</title>
</head>

<body>
  <!--Menu-->
  <nav class="menu">
    <a href="##"><img id="logo" src="../imagens/logo.jpg" alt="Full-Stack">
    <a href="#">Página Principal</a>
    <a href="./produtos.html">Produtos</a>
    <a href="#">Nossas lojas</a>
    <a href="#">Contato</a>
  </nav>

<br><br><br><br>

  <main id="main">

    <h1>Seja bem vindo(a)!</h1>
    <p>Aqui em nossa loja, programadores tem desconto nos produtos para sua casa!</p>

  </main>

  <br><br><br><br>

  <footer id="rodape">
   <p id="formas_pagamento">Formas de pagamento</p>
    <img src="../imagens/PAGAMENTO.png" alt="Formas de pagamento">
    <p> &copy;Recode Coporation</p>
  </footer>

</body>

</html>