<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <title>Produtos-FullStack</title>
</head>
<body>
  <!--Menu-->
  <nav class="menu">
    <a href="./index.html"> <img id="logo" src="../imagens/logo.jpg" alt="Full-Stack"></a>
    <a href="./index.html"> Página Inicial</a>
    <a href="./index.html"> Produtos</a>
    <a href="./index.html"> Nossas Lojas</a>
    <a href="./index.html"> Contato</a>
  </nav>

  <header>
    <h1>Produtos</h1>
  </header>
  <hr>

  <main id="categoria_produtos">

    <section class="categorias">
      <h3>Categorias</h3>
      <ul>
        <li>Geladeira(3)</li>
        <li>Fogões(3)</li>
        <li>Micro-ondas(3)</li>
        <li>Máquina de lavar(3)</li>
      </ul>      
    </section>

    
    <section class="produtos">
      <div class="box_produtos">
        <img  src="../imagens/produtos/geladeira.png" alt="">
        <p class="descricao">Geladeira Fros Free</p>
        <p class="descricao"><strike>R$8.456,00</strike></p>
        <p class="preco">R$ 5.003,00</p>
      </div>

      <div class="box_produtos">
        <img  src="../imagens/produtos/geladeira.png" alt="">
        <p class="descricao">Geladeira Fros Free</p>
        <p class="descricao"><strike>R$8.456,00</strike></p>
        <p class="preco">R$ 5.003,00</p>
      </div>

      
      <div class="box_produtos">
        <img  src="../imagens/produtos/geladeira.png" alt="">
        <p class="descricao">Geladeira Fros Free</p>
        <p class="descricao"><strike>R$8.456,00</strike></p>
        <p class="preco">R$ 5.003,00</p>
      </div>

      
      <div class="box_produtos">
        <img  src="../imagens/produtos/geladeira.png" alt="">
        <p class="descricao">Geladeira Fros Free</p>
        <p class="descricao"><strike>R$8.456,00</strike></p>
        <p class="preco">R$ 5.003,00</p>
      </div>

      <div class="box_produtos">
        <img  src="../imagens/produtos/geladeira.png"  alt="">
        <p class="descricao">Geladeira Fros Free</p>
        <p class="descricao"><strike>R$8.456,00</strike></p>
        <p class="preco">R$ 5.003,00</p>
      </div>

      <div class="box_produtos">
        <img  src="../imagens/produtos/geladeira.png" alt="">
        <p class="descricao">Geladeira Fros Free</p>
        <p class="descricao"><strike>R$8.456,00</strike></p>
        <p class="preco">R$ 5.003,00</p>
      </div>

      <div class="box_produtos">
        <img  src="../imagens/produtos/geladeira.png" alt="">
        <p class="descricao">Geladeira Fros Free</p>
        <p class="descricao"><strike>R$8.456,00</strike></p>
        <p class="preco">R$ 5.003,00</p>
      </div>
    </section>

  </main>
  
</body>
</html>